<div class="m-5">
  <div class="d-flex justify-content-between">
    <p class="m-0 fs-4">Clientes</p>
    <button class="btn" (click)="open(content)" data-toggle="modal" data-target="#exampleModal">
      <i class="material-icons">queue</i>
    </button>
  </div>

  <app-base
    [item]="currentItem"
    [row]="rows"
    (newItemEvent)="addItem()"
  ></app-base>

</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="dateOfBirth">Nome do cliente</label>
        <div class="input-group">
          <input id="dateOfBirth" [(ngModel)]="product.name" class="form-control" name="name" ngbDatepicker #dp="ngbDatepicker">
        </div>
        <label for="dateOfBirth">cpf</label>
        <div class="input-group">
          <input id="dateOfBirth" [(ngModel)]="product.cpf" class="form-control" name="cpf" ngbDatepicker #dp="ngbDatepicker">
        </div>
        <label for="dateOfBirth">Endereço</label>
        <div class="input-group">
          <input id="dateOfBirth" [(ngModel)]="product.ender" class="form-control" name="ender" ngbDatepicker #dp="ngbDatepicker">
        </div>
        <label for="dateOfBirth">Email</label>
        <div class="input-group">
          <input id="dateOfBirth" [(ngModel)]="product.email" class="form-control" type="email" name="email" ngbDatepicker #dp="ngbDatepicker">
        </div>
        <label for="dateOfBirth">Data de nascimento</label>
        <div class="input-group">
          <input id="dateOfBirth" [(ngModel)]="product.nasc" class="form-control" type="date" placeholder="dd/mm/aaaa" name="nasc" ngbDatepicker #dp="ngbDatepicker">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="incluirCenario()">Save</button>
  </div>
</ng-template>

