<div class="m-5">
  <div class="d-flex flex-column" >
    <div class="d-flex " >
      <button class="btn" (click)="toProducts()"><i class="material-icons">arrow_back</i></button>
      <p class="m-0 fs-4" >Pedido</p>
    </div>
    <div class="d-flex justify-content-between" >
      <div class="d-flex" >
        <input list="clients" >
          <datalist id="clients">
            <option value="name" >
            <option value="oie">
            <option value="olá">
          </datalist>
        <input type="submit" >
      </div>
      <h2>Total: {{total}}</h2>
    </div>
  </div>

  <app-base
    [item]="currentItem"
    [row]="rows"
    (newItemEvent)="addItem($event)"
  ></app-base>
  <div class="d-flex justify-content-end" >
    <button class="btn btn-success" (click)="finish()">Finalizar</button>
  </div>
</div>
