 <table class="table table-striped table-hover table-bordered border-primary">
  <thead>
    <tr>
      <th *ngFor="let column of item">
        {{ column }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let line of row">
      <td *ngIf="line.id" >
        {{ line.id }}
      </td>
      <td *ngIf="line.name" >
        {{ line.name }}
      </td>
      <td *ngIf="line.cpf" >
        {{ line.cpf }}
      </td>
      <td *ngIf="line.items" >
          {{ line.items }}
      </td>
      <td *ngIf="line.ender" >
        {{ line.ender }}
      </td>
      <td *ngIf="line.email" >
        {{ line.email }}
      </td>
      <td *ngIf="line.price" >
        {{ line.price }}
      </td>
      <td *ngIf="line.total" >
        {{ line.price }}
      </td>
      <td *ngIf="line.nasc" >
        {{ line.nasc }}
      </td>
      <td *ngIf="line.data" >
        {{ line.data }}
      </td>
      <td >
        <button
          type="button"
          class="btn"
          [ngClass]="{'btn-primary':!line.selected, 'btn-danger': line.selected}"
          (click)="reverse(line.id)"
        >
        <span *ngIf="!line.selected">ADD+</span>
        <span *ngIf="line.selected">remove-</span>
        </button>
      </td>
    </tr>
  </tbody>
</table>
